{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
